name: Deploy to EC2

on:
  push:
    branches: [main]  # ou outro branch que aciona o deploy

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.WALLCLUB_EC2_HOST }}
          username: ${{ secrets.WALLCLUB_EC2_USER }}
          key: ${{ secrets.WALLCLUB_EC2_KEY }}
          script: |
            # Acessa a pasta do projeto na EC2
            cd /var/www/html

            # Puxa as atualizações do Git
            git pull origin main

            # Instala dependências via Composer
            if [ -f composer.json ]; then
              composer install --no-interaction --prefer-dist --optimize-autoloader
            fi

            # (Opcional) Corrige permissões, se necessário
            # sudo chown -R www-data:www-data /opt/http
            # sudo chmod -R 755 /opt/http

            # Reinicia o Nginx
            sudo systemctl reload nginx